@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.danger-color {
  color: #dc3545;
}

.success-color {
  color: #28a745;
}

.danger-message {
  color: #dc3545;
  margin-top: 5px;
  font-weight: bold;
  display: none;
}

.primary-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1330px;
  box-shadow: 1px 1px 3px gray;
  padding: 10px;
  margin-top: 15px;
}

header {
  width: 100%;
  text-align: center;
}

h3 {
  margin-bottom: 3px;
}

.sub-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.budget {
  border: 2px solid green;
  padding: 10px;
  border-radius: 5px;
}

.expense {
  margin-top: 25px;
  border: 2px solid red;
  padding: 10px;
  border-radius: 5px;
}

.col-1 {
  flex-basis: 30%;
  flex-grow: 0;
}

.col-2 {
  flex-basis: 67%;
  flex-grow: 0;
}

.values {
  display: flex;
  flex-wrap: wrap;
}

.values-content {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.values-content div {
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.values-content i {
  display: block;
  margin: auto;
  font-size: 45px;
  color: #1c7cd6;
  margin-top: 10px;
}

.values-content .val {
  margin-top: 10px;
  font-size: 30px;
}

.expenses-header {
  display: flex;
  width: 100%;
  margin-top: 25px;
  justify-content: space-around;
  margin-bottom: 10px;
}

.expenses-header div {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

#expenses-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.list-item {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.col {
  width: 100%;
  text-align: center;
}

input {
  width: 100%;
  margin: 0;
  border: none;
  box-shadow: 1px 1px 3px gray;
  border-radius: 5px;
  font-weight: bold;
  font-size: 30px;
}

.btn {
  border: none;
  font-size: 20px;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 10px auto 0 auto;
}

.edit-button {
  color: #1c7cd6;
  cursor: pointer;
}

.delete-button {
  cursor: pointer;
}

#expenses-list {
  color: #dc3545;
  font-weight: bold;
  font-size: 17px;
}

#calculate {
  border: 2px solid #28a745;
  color: #28a745;
}

#calculate:hover {
  background-color: #28a745;
  color: white;
}

#calculate:active {
  background-color: #31cc55;
  color: white;
}

#add-expense {
  border: 2px solid #dc3545;
  color: #dc3545;
}

#add-expense:hover {
  background-color: #dc3545;
  color: white;
}

#add-expense:active {
  background-color: #ff3d51;
  color: white;
}

@media (max-width: 930px) {
  .sub-container {
    flex-wrap: wrap;
  }
  .col-1,
  .col-2 {
    flex-basis: 100%;
  }
  .budget {
    margin-bottom: 15px;
  }
}
